body {
    margin: 0;
    padding: 0%;
    font-family: sans-serif;
    background-color: #fff;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: #000;
}

.hading_main {
    display: flex;
    padding: 40px 0px 0px 25px;
}

#top-logo-two {
    display: none;
    font-size: 30px;
    padding: 0;
}

.mobile_nav_main {
    display: none;
}

.mob_nav_logo {
    padding: 16px;
}

.mobile_nav {
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    z-index: 1;
    transition: 0.3s;
    background-color: #fff;
    position: fixed;
    border-bottom: 1px solid rgba(128, 128, 128, 0.352);
}

.mob_nav_heart {
    padding: 0px 20px 0px 15px;
}

.mobile_bottom_nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #ffff;
    height: 50px;
    position: fixed;
    z-index: 2;
    bottom: 0;
}

.mobile_bottom_nav_main {
    display: none;
}

.mobile_nav_icons {
    margin: 0px 25px 0px 25px;
    color: #222222 !important;
}

.mobile_nav_image {
    border-radius: 50px !important;
}

.post {
    position: relative;
    display: block;
    margin: auto;
    width: 30%;
    background-color: #fff;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;

}

.Dp_image {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin: 0px 8px 0px 0px;
    border: 2px solid;
    border-top-color: rgb(255 0 137);
    border-right-color: #ff00d4;
    border-left-color: rgb(255 94 0);
    border-bottom-color: rgb(255 94 0);
    padding: 2px;
}

.Dp_image_side {
    width: 25px;
    border-radius: 50%;
}

.like_after_img {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all 0.1s ease-in-out;
}

.Dp_top_bar {
    width: auto;
    height: 60px;
    display: flex;
    align-items: center;
}

.body_image {
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.likes_count {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 15px;
}

.username {
    font-weight: bold;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(0, 0, 0, 0.684);
}

.stories_username {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: rgba(0, 0, 0, 0.684);
    font-size: 12px;
    overflow: hidden;
    width: 60px;
    margin: auto;
}

.post_time {
    margin: 0px 0px 4px 8px;
    font-weight: 300;
}

.fa-solid {
    margin-left: auto;
}

.bottom_bar {
    width: 100%;
    height: 50px;
    display: flex;
    border-top: 1px solid rgba(0, 0, 0, 0.129);
    align-items: center;
}

.like {
    cursor: pointer;
}


.like {
    position: absolute;
    opacity: 1;
    z-index: 0;
    transition: all 0.1s ease-in;
}

.like2 {
    z-index: -1;
}

.comment {
    cursor: pointer;
    padding: 15px;
}

.comment:hover {
    opacity: 60%;
}

.share {
    cursor: pointer;
}

.share:hover {
    opacity: 60%;
}

.save {
    cursor: pointer;
    margin-left: auto;
}

.save:hover {
    opacity: 60%;
}

.side_bar {
    background-color: #fff;
    width: 250px;
    height: 100%;
    border-right: 1px solid rgba(0, 0, 0, 0.129);
    position: fixed;
    transition: 0.3s;
    z-index: 1;
}

.side_bar_search {
    width: 400px;
    height: 100vh;
    background-color: #fff;
    position: fixed;
    left: -1000px;
    transition: 0.3s;
    border-right: 1px solid #00000024;
    box-shadow: 0px 0px 20px -10px;
    border-radius: 0px 15px 15px 0px;
    margin-left: 71px;
    z-index: 1;
}

.side_bar_noti {
    width: 400px;
    height: 100vh;
    background-color: #fff;
    position: fixed;
    left: -1000px;
    transition: 0.3s;
    border-right: 1px solid #00000024;
    box-shadow: 0px 0px 20px -10px;
    border-radius: 0px 15px 15px 0px;
    margin-left: 71px;
}

.side_bar_search input {
    width: 95%;
    padding: 13px;
    border-radius: 5px;
    background: #8080802b;
    border: 0;
    display: block;
    margin: auto;
}

.side_bar_search h2 {
    padding: 22px 0px 12px 20px;

}

.more_dropdown {
    background-color: #fff;
    box-shadow: 0px 0px 30px 0px;


}

.more_dropdown li {
    padding: 5px;
    padding: 16px;
    border-radius: 10px;
    background: beige;
    margin: 8px;
}

.search_result_main {
    display: flex;
    align-items: center;
    height: 50px;
    margin: 15px 0px 0px 0px;
    padding: 5px;
    border-radius: 8px;
    transition: 0.3s;
    cursor: pointer;
}

.search_result_main:hover {
    background: #8080800d;
}

.search_prof_main {
    border-top: 1px solid rgba(128, 128, 128, 0.3);
    margin: 20px 0px 0px 0px;
    overflow: auto;
    height: inherit;
}

.search_prof_img {
    border-radius: 50%;
    margin: 15px;
    padding: 2px;
    background-color: rgba(128, 128, 128, 0.316);
}

.search_prof_user {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}

.search_prof_name {
    font-size: 12px;
    color: #808080ab;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.X-mark {
    margin-left: auto;
}

.X-mark .fa-xmark {
    color: gray;
    cursor: pointer;

}

.search_navi {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 20px 0px 20px;
}

.search_navi span {
    color: blue;
}

.s_bar_ul {
    list-style: none;
    padding: 10px;
}

.s_bar_li {
    padding: 5px 40px 5px 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    cursor: pointer;
    align-items: center;
    border-radius: 10px;
    margin: 2px 0px 2px 0px;
    width: -webkit-fill-available;
    display: inline-flex;
    transition: 0.3s;
}

.s_bar_li:hover .nav-icons {
    transform: scale(1.1);
}

/* .s_bar_li_more {
    bottom: 10px;
    position: absolute;
    left: 15px;
} */

.s_bar_li:hover {
    background-color: #80808021;
}

.nav-icons {
    padding: 10px;
    transition: 0.3s;
}

.upload_status {
    font-size: small;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: gray;
    padding: 5px 0px 0px 0px;
}

.comments {
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.084);
    display: inline-flex;
    position: relative;
    align-items: center;
}

.comment_icon {
    padding: 15px 8px 15px 0px;
}

.commnet_input {
    border: none;
    color: rgba(128, 128, 128, 0.221);
}

.commnet_input:focus {
    outline: 0;
    color: #000;
}

.post_btn {
    position: absolute;
    font-weight: 400;
    color: #0094f6a2;
    right: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.fa-solid {
    font-size: x-large;
    padding-right: 7px;
    display: inline-flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.851);
}

.fa-regular,
.fa-regular,
.fa-brands,
.fa-heart,
.fa {
    font-size: x-large;
    color: rgba(0, 0, 0, 0.851);
}

.fa-instagram {
    font-size: 28px;
}

.stories_main {
    display: flex;
    justify-content: center;
    padding: 20px 0px 20px 0px;
}

.badge {
    position: absolute;
    top: 12px;
    right: 265px;
    padding: 1px 6px;
    border-radius: 50%;
    background-color: #fe2c2c;
    color: white;
}

.notification_badge {
    position: absolute;
    top: 14px;
    right: 270px;
    background-color: #fe2c2c;
    padding: 0px 6px;
    border-radius: 50%;
    background-color: #fe2c2c;
    color: #fe2c2c;
}

.stories_bar {
    margin: 7px;
    width: 35%;
    height: 110px;
    background-color: #fff;
    overflow: auto;
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
    border-radius: 10px;
}

.stories_bar::-webkit-scrollbar {
    display: none;
}

.stories_img {
    padding: 2px;
    font-weight: 100;
    margin: 7px;
    border-radius: 50%;
    border: 2px solid;
    border-top-color: rgb(255 0 137);
    border-right-color: #ff00d4;
    border-left-color: rgb(255 94 0);
    border-bottom-color: rgb(255 94 0);
    width: 55px;
    height: 55px;
}

.stry_name {
    display: flex;
    justify-content: center;
    font-size: 12px;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgba(0, 0, 0, 0.512)
}

.follow_bar {
    position: absolute;
    width: 18%;
    top: 20px;
    right: 120px;
    height: auto;
}

.follow_bar_pic {
    border-radius: 50%;
    margin: 22px 15px 20px 0px;
    padding: 2px;
    border: 2px solid;
    border-top-color: rgb(255 0 137);
    border-right-color: #ff00d4;
    border-left-color: rgb(255 94 0);
    border-bottom-color: rgb(255 94 0);
}

.follow_bar_profile {
    display: flex;
    align-items: center;
}

.follow_bar_pic_second {
    border-radius: 50%;
    margin: 18px 15px 5px 0px;
    padding: 1px;
    border-top-color: rgb(255 0 137);
    border-right-color: #ff00d4;
    border-left-color: rgb(255 94 0);
    border-bottom-color: rgb(255 94 0);
}

.follow_bar_profile_second {
    display: flex;
    align-items: center;
    height: 50px;
}

.switch_btn {
    margin-left: auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: small;
    font-weight: bold;
    color: #0095F6
}

.sujjested {
    display: inline-flex;
    width: 80%;
}

.seeall {
    margin-left: auto;
}

.sujjested_foru {
    color: rgba(128, 128, 128, 0.678);
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.my_pro_name {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #808080ab;
    font-weight: 500;
}

.my_pro_uname {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}

.my_pro_uname_u_second {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}


.my_pro_name_second {
    font-size: 12px;
    color: #808080ab;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/* profile */
.profile_container {
    padding-left: 130px;
}

.profile_page_top_main {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 30px 0px 0px; */
}

.profile_page_dp img {
    border-radius: 100%;
    width: 140px;
    height: 140px;
}

.profile_page_dp {
    padding: 50px;
}

.profile_page_about {
    padding: 50px;
}

.profile_page_about_firstChild {
    display: flex;
    align-items: center;
}

.profile_page_about button {
    margin: 0px 5px 0px 5px;
    background-color: #ebebeb;
    border-radius: 5px;
    width: 120px;
    height: 35px;
    border: 0;
}

.post_follower_count {
    padding: 15px 0px 15px 0px;
}

.post_follower_count span {
    padding: 0px 30px 0px 0px;
}

.profile_page_about p {
    margin: 0%;
}

.post_follower_count_mobile_main {
    display: none;

}

.post_follower_count_mobile {
    border-top: 1px solid #80808066;
    border-bottom: 1px solid #80808066;
    display: flex;
    justify-content: space-around;
    padding: 7px 0px 7px;
}

.post_follower_count_inner {
    text-align: center;
}

.post_follower_count_inner :nth-child(1) {
    font-weight: 600;
}

.post_follower_count_inner :nth-child(2) {
    color: #747474;
    font-size: 15px;
}

.featured_stories_main_parent {
    display: flex;
    justify-content: center;
    margin: 0px 0px 50px 0px;
}

.featured_stories_main {
    width: 68%;
    height: 120px;
    display: flex;
    align-items: center;
}

.featured_stories {
    border-radius: 50px;
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #80808078;
}

.featured_stories_main p {
    display: flex;
    margin: 10px;
    justify-content: center;
}

/* profile end */

/* posts images */
.explore_container {
    padding: 20px 0px 0px 200px;
}

.posts_images_main {
    display: flex;
    justify-content: center;
}

.posts_images {
    height: auto;
    width: 309px;
    margin: 3px;
}

.profile_category {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    height: 50px;
    border-top: 1px solid #80808066;
    border-bottom: 1px solid #80808066;
}

.profile_category span {
    margin: 0px 50px 0px 50px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile_cat_icons {
    color: #737373;
    font-size: 15px;
    margin: 5px;
}

.profile_category_main {
    display: block;
    margin: auto;
    width: fit-content;
}

/* posts images end */


/* profile page mobile responsive */
.profile_page_about_responsive {
    display: flex;
    align-items: center;
    margin: 5px;
}

.profile_page_about_responsive i {
    margin: 0px 0px 0px 20px;
}

.profile_page_about_firstChild_responsive button {
    margin: 5px;
}

.profile_page_dp_responsive img {
    border-radius: 100%;
    width: 80px;
    height: 80px;
}

/* .profile_page_dp_responsive {
    padding: 30px;
} */
.profile_page_top_main_for_mobile {
    display: none;
}

.profile_description_mobile {
    margin: 20px;
}

.profile_description_mobile p {
    margin: 0px;
}
.profile_page_top_navbar_main{
    display: none;
}
.profile_page_top_navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #d6d6d6;
    background: #fff;
    width: 100%;
    transition: 0.3s;
    position: fixed;
}

.profile_page_top_navbar i {
    margin: 10px;
}

/* profile page mobile responsive end */

/* explore page */

.explore_posts_row {
    display: flex;
    /* padding: 20px; */
    justify-content: center;
}

.explore_posts {
    margin: 2px;
    width: 309px;
    height: 309px;
    overflow-y: hidden;
}

.explore_posts img {
    width: 309px;
}

.explore_search {
    position: fixed;
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.explore_search_main {
    display: none;

}

.explore_search_bar {
    width: 360px;
    height: 28px;
}

/* explore page end */

.fa-instagram {
    transition: 2s;
}